body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    color: #ff0000;
    cursor: pointer;
}

.delete-btn:hover {
    text-decoration: underline;
}

.input-group {
display: flex;

width: 100%;
}
.form-control {
    margin-right: 20px;
width: 80%;
}